.title {
    font-size: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

button {
    background-color: rgba(0, 0, 0, 0);
    border: 0;
    margin-bottom: 5;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

button:hover {
    background: rgb(226, 201, 201);
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: whitesmoke;
    height: 5000px;
}

#htmlTag {
    background: rgb(221, 220, 220);
    width: 30%;
}

.checked {
    color: orange;
}

.newAT {
    font-family: 'Oswald', sans-serif;
    color: black;
    text-align: center;
}

.languageStars {
    font-size: 13px;
}

hr {
    background-color: whitesmoke;
    width: 99%;
}

#row1 {
    display: inline-flex;
}

#emojis {
    background: rgb(221, 220, 220);
    width: 32%;
    margin-left: 40px;
}